<center>
<h1>Create a New Situation</h1>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
 
<%= render 'form', situation: @situation %>
<br>
<center>
<table>
  <th><center>HOW TO CREATE PHRASES<br><i>--copy the format of the samples below--</i></center></th>
  <tr>
    <td><br><center><i>category: phrase</i></center><br>
    statement: Phrase Ninja is a text parser.<br>
    question: So, everything before the colon is the category, everything after is the phrase?<br>
    exclamation: Yes, it's that easy!<br>
    musing: All quests are journies, but not all journies are quests.<br>
    joke: The souvenir is expensive, but the ghost comes free.<br></td>
  </tr>
</table>
</center>
<br>

<%= link_to 'Back', situations_path %>
<br>
</center>
