<center><p id="notice"><%= notice %></p>

<h1>THE CURRENT ROTATION CYCLE FEATURES</h1>

<% @situations.each do |s| %>
  <% if s.studying_now == true %>
    <center><tr>
      <td><center><%= s.name %></center></td>
    </tr></center>
  <% else %>
    <% next %>
  <% end %>
<% end %>

<p>
  <% @scores.each do |s| %>
    <% if s.studying_now == true %>
      <center><tr>
        <td><center><%= s.familiarity_name %></center></td>
      </tr></center>
    <% else %>
      <% next %>
    <% end %>
  <% end %>
</p>
</center>
