<center><p id="notice"><%= notice %></p>

<h1>THE CURRENT ROTATION CYCLE FEATURES</h1>

this should populate...<br>
phrase.english"<br>
phrase.english_equivalent<br>
phrase.japanese<br>
<br>
links to...
get '/users/:id/flashcards/study_time_show_answer' => "scores#edit"
<br>
