<br>
<button type="button" class="link_button"><%= link_to "Signup", signup_path %></button>

OR

<button type="button" class="link_button"><%= link_to "Login", login_path %></button>

<br><br>OR<br><br>

<button type="button" class="loginBtn loginBtn--google"><%= link_to "SIGNUP AND LOGIN WITH GOOGLE", '/auth/google_oauth2' %></button>
